---

---

<nav
  class="text-white max-w-lg mx-auto flex gap-10 justify-center items-center p-2 border border-neutral-500 rounded-xl w-fit sticky top-4 bg-neutral-900/70 backdrop-blur-sm"
>
  <a
    href="/"
    class={`${Astro.url.pathname === "/" ? " bg-neutral-800 rounded-md border border-neutral-600 " : ""} px-2 py-1`}
    >Home</a
  >
  <a
    href="/projects"
    class={`${Astro.url.pathname === "/projects" ? " bg-neutral-800 rounded-md border border-neutral-600" : ""} px-2 py-1`}
    >Projects</a
  >
  <a
    href="/contact"
    class={`${Astro.url.pathname === "/contact" ? " bg-neutral-800 rounded-md border border-neutral-600" : ""} px-2 py-1`}
    >Contact</a
  >
</nav>
